[Unit]
Description=Cider-CI Executor

After=syslog.target
After=network.target

BindsTo=cider-ci_executor-download.service
After=cider-ci_executor-download.service

[Service]
Restart=always
StartLimitInterval=300
StartLimitBurst=5

WorkingDirectory=/cider-ci/executor
ExecStart=/usr/lib/jvm/java-8-openjdk-amd64/bin/java "-Xmx250m" -jar /cider-ci/executor/cider-ci.jar executor -c /cider-ci/executor/config/config.yml run

[Install]
WantedBy=multi-user.target
