[Unit]
Description=Cider-CI RabbitMQ broker
After=syslog.target
After=network.target

[Service]
Environment=RABBITMQ_BASE={{ci_rabbitmq_working_dir}}
Environment=RABBITMQ_MNESIA_BASE={{ci_rabbitmq_mnesia_dir}}
Environment=RABBITMQ_LOG_BASE={{ci_rabbitmq_log_dir}}
#Environment=RABBITMQ_PLUGINS_EXPAND_DIR={{ci_rabbitmq_plugins_expand_dir}}
Environment=RABBITMQ_CONFIG_FILE={{ci_rabbitmq_config_file}}
Environment=RABBITMQ_NODENAME={{ci_rabbitmq_node_name}}
Environment=RABBITMQ_NODE_PORT={{ci_rabbitmq_node_port}}

TimeoutStartSec=5

User={{ci_rabbitmq_user}}
Group={{ci_rabbitmq_user}}
WorkingDirectory={{ci_rabbitmq_working_dir}}
ExecStart=/usr/lib/rabbitmq/bin/rabbitmq-server
ExecStop=/usr/lib/rabbitmq/bin/rabbitmqctl stop

[Install]
WantedBy=multi-user.target
