[
 {rabbit, [{tcp_listeners,
            [{"127.0.0.1", {{ci_rabbitmq_node_port}} },
             {"::1", {{ci_rabbitmq_node_port}} }]
           }]},
 {rabbitmq_management, [{listener,
                         [{port, {{ci_rabbitmq_mangement_port}} },
                          {ip, "127.0.0.1"}
                         ]}]}
].
