[Unit]
Description=Cider-CI {{service.name}} Service
After=syslog.target
After=network.target

BindsTo=cider-ci_postgresql.service

[Service]
WorkingDirectory={{service_dir}}
User=cider-ci
Group=cider-ci
Nice=19
Environment=JRUBY_HOME={{service_dir}}/vendor/jruby
Environment=PATH={{service_dir}}/vendor/jruby/bin:/usr/local/bin:/usr/bin:/bin
Environment=RAILS_LOG_LEVEL=WARN
Environment=RAILS_ENV=production
Environment=RAILS_TIME_ZONE={{ci_server_rails_timezone}}
Environment=RAILS_RELATIVE_URL_ROOT={{ci_server_web_context}}{{service.context}}
Environment=JRUBY_OPTS=-J-Xmx{{service.xmx}}
ExecStart={{service_dir}}/vendor/jruby/bin/jruby -S bundle exec puma config.ru -t 4:40 -b tcp://localhost:{{service.http_port}}

[Install]
WantedBy=multi-user.target
