[Unit]
Description=Cider-CI Trait RabbitMQ Broker
After=syslog.target
After=network.target

[Service]
Environment=RABBITMQ_BASE={{ci_trait_rabbitmq_working_dir}}
Environment=RABBITMQ_MNESIA_BASE={{ci_trait_rabbitmq_mnesia_dir}}
Environment=RABBITMQ_LOG_BASE={{ci_trait_rabbitmq_log_dir}}
Environment=RABBITMQ_CONFIG_FILE={{ci_trait_rabbitmq_working_dir}}/rabbitmq
Environment=RABBITMQ_NODENAME={{ci_trait_rabbitmq_node_name}}
Environment=RABBITMQ_NODE_PORT={{ci_trait_rabbitmq_node_port}}

TimeoutStartSec=30

User=rabbitmq
Group=rabbitmq
WorkingDirectory={{ci_trait_rabbitmq_working_dir}}

ExecStartPre=/bin/rm -rf {{ci_trait_rabbitmq_working_dir}}/*
ExecStartPre=/bin/mkdir -p {{ci_trait_rabbitmq_working_dir}}
ExecStartPre=/bin/mkdir -p {{ci_trait_rabbitmq_working_dir}}
ExecStartPre=/bin/cp {{ci_trait_rabbitmq_play_dir}}/rabbitmq.config {{ci_trait_rabbitmq_working_dir}}/rabbitmq.config

ExecStart=/usr/lib/rabbitmq/bin/rabbitmq-server
ExecStop=/usr/lib/rabbitmq/bin/rabbitmqctl stop

ExecStartPost=/usr/local/bin/ansible-playbook {{ci_trait_rabbitmq_post_play_path}}

# ExecStartPost=/usr/sbin/rabbitmq-plugins enable rabbitmq_management
# ExecStartPost=/usr/sbin/rabbitmqctl add_vhost {{ci_exec_user}}
# ExecStartPost=/usr/sbin/rabbitmqctl add_user {{ci_exec_user}} {{ci_exec_user}}
# ExecStartPost=/usr/sbin/rabbitmqctl set_permissions -p {{ci_exec_user}} {{ci_exec_user}} ".*"  ".*" ".*"
# ExecStartPost=/usr/sbin/rabbitmqctl set_user_tags {{ci_exec_user}} administrator


[Install]
WantedBy=multi-user.target
